option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: app:app
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static
  aws:elasticbeanstalk:application:environment:
    FLASK_ENV: production
    PRODUCTION: "true"

packages:
  yum:
    python3-devel: []

container_commands:
  01_install_deps:
    command: "pip install -r requirements.txt"
